
.calculator-form-container{
  /* margin-left: 20%; */
}

.calculator-form-input-error {
  border: 1px solid gray;
  color: red;
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.calculator-form-input {
  padding-bottom: 5px;
  -webkit-appearance: none;
}

.calculator-form-input label {
  display: block;
}

.calculator-form-submit {
  margin: 8px 0;
}

.calculator-form-result {
  padding-bottom: 5px;
}